$blue:#01308B;
$white:#ffffff;
$black:#000000;
$ffamily:'Open Sans',
sans-serif;
$fsize:15px;
$orange:#FFB000;
$gray:#333333;



//device breakpoints variblaes
$mobile-width:320px; //mobile basic breakpoints
$mlandscape-width:576px; //small devices
$tablet-width:768px; //medium devices 
$laptop-width:992px; //large devices 
$desktop-width:1200px; //extra large 