@import 'var';
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

*,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

p {
    line-height: $fsize + 10;
}

.fbold {
    font-weight: 700;
    font-family: $ffamily;
}

.flight {
    font-weight: 300;
    font-family: $ffamily;
}

.fwhite {
    color: $white;
}

.fblue {
    color: $blue;
}

.forange {
    color: $orange;
}

.btn-orange {
    background: $orange;
    padding: 10px 18px;
    border-radius: 25px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    @extend .fbold;

    &:hover {
        text-decoration: none;
    }
}

a{
    &:hover{
        text-decoration: none;
    }
}

body {
    @include sitefont;
}

.fixed-theme {
    background: $blue;
    padding: 5px 0;
    @include shadow-bot;

    @include mob {
        padding: 0 0 5px 0;
        box-shadow: none;
    }

    .top-header {
        margin-top: -40px;
        

    }

    .navbar-brand {
        top: 0;
        left: 5px;

        img {
            width: 200px;

            @include mob {
                width: 160px;
            }
        }
    }
}


header {
    .navbar {
        padding: 0;

        .dropdown-menu{
            border-radius:0;
            .dropdown-item{
                font-size:$fsize - 1; 
                padding:10px 20px;   
                
                &:hover{
                    background:$blue;
                    color:$white;
                }
            }
        }       
    }

    .navbar-toggler {
        position: relative;
        right: 10px;
        z-index: 99;
        border: none;

        .icomoon {
            color: $white;
        }
    }

    .top-header {
        @include transition;
        padding-top: 5px;

        .header-social{
            a{
                &:hover{
                   .icomoon{
                        color:$orange;
                   }
                }
            }
        }

        @include mob {
            display: none;
        }

        p {
            color: $white;
        }

        .header-social {
            a {
                font-size: $fsize + 3;
                color: $white;
                padding: 0 7px;
            }
        }

        .navbar-nav {
            &:before {
                background: none;
            }
        }
    }

    .navbar-brand {
        position: relative;
        top: -25px;

        @include mob {
            top: 0;
        }

        img {
            width: 220px;

            @include mob {
                width: 170px;
            }
        }
    }

    .navbar-nav {
        position: relative;
        padding: 3px 0 3px 15px;

        &:before {
            content: '';
            background: $blue;
            position: absolute;
            left: 0;
            top: 0;
            right: -200%;
            bottom: 0;
            z-index: 0;
        }

        .nav-link {
            color: $white !important;
            position: relative;
            z-index: 1;
            text-transform: uppercase;
            font-size: $fsize - 1;
            padding: 8px 13px !important;

            &:hover {
                span {
                    color: $orange !important;
                    border-bottom: 2px solid $orange;
                }
            }
        }
    }
}

.home-slider {
    .carousel-item {
        height: 100vh;
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        cursor:pointer;

        @include mob {
            height: 400px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            z-index: 0;
            top: 0;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-45deg, #b45800, #01308B);
            background-image: -moz-linear-gradient(-45deg, #b45800, #01308B);
            background-image: -webkit-linear-gradient(-45deg, #b45800, #01308B);
            background-image: -ms-linear-gradient(-45deg, #b45800, #01308B);
            background-image: -o-linear-gradient(-45deg, #b45800, #01308B)
        }

        .carousel-caption {
            bottom: 40%;
            text-align: left;
            width: 45%;
            left: 20%;


            @include mob {
                width: 90%;
                bottom: 20%;
                left: 5%;
            }

            &:before {
                content: '';
                width: 64px;
                height: 4px;
                background: $blue;
                position: absolute;
                bottom: 0;
            }

            &:after {
                content: '';
                width: 110px;
                height: 4px;
                background: $orange;
                position: absolute;
                bottom: 0;
                left: 70px;
            }

            h3 {
                font-size: $fsize * 3;
                @extend .fbold;

                @include mob {
                    font-size: $fsize + 10;
                }

                p {
                    font-size: $fsize + 10;
                }
            }
        }
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../img/bg-trans.png)repeat 0 0;
    opacity: 0.7;
}

.about {
    background: $blue;
    padding: 25px 0;

    @include mob {
        padding: 0;
    }

    .top-about {
        background: $white;
        padding: 20px;
        margin-top: -100px;
        position: relative;
        z-index: 999;

        @include mob {
            margin-top: 0;
            padding: 15px 15px 0 15px;

            article {
                padding-top: 10px;
            }
        }
    }

    .bottom-about {
        margin-top: 25px;

        @include mob {
            padding-bottom: 20px;
        }

        .h5 {
            padding-bottom: 10px;
        }

        img {
            border-radius: 10px;
            margin-top: 15px;
        }

        p {
            color: $white;
            text-align: justify;
        }

        .btn-orange {
            margin-top: 20px;
            float: left;
        }
    }
}

.services {
    padding: 25px 0;

    .servicecol {

        @include mob {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
        }

        .icomoon {
            font-size: $fsize * 4;
        }

        .txt {
            font-size: $fsize + 3;
            @extend .fbold;
            align-self: center;
            padding-left: 15px;
            position: relative;

            &:before {
                content: '';
                width: 60px;
                height: 3px;
                background: $orange;
                position: absolute;
                bottom: -10px;
            }
        }

        p {
            color: $gray;
            padding-top: 15px;
        }
    }
}

.current-project {
    background: $white;
    margin: 25px 0;

    @include mob {
        margin: 0;
    }

    .carousel-indicators {
        margin-right: 0;
        margin-left: 0;
        bottom: 15px;
        margin-bottom: 0;

        @include mob {
            bottom: 5px;
        }

        li {
            background: none;
            width: 25%;
            height: 86px;
            text-indent: 0;
            opacity: 1;
            margin: 0;
            border: none;

            @include mob {
                height: auto;
            }

            img {
                width: 100%;
            }
        }
    }

    article {
        width: 75%;

        @include mob {
            width: 100%;
            padding-bottom: 25px;

            .h4 {
                padding-top: 10px;
            }
        }
    }
}

.orangespan {
    background: $orange;
    padding: 10px;
    font-size: $fsize + 3;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 3px;
    @extend .fbold;
}

#currentproject {
    position: relative;

    .orangespan {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
    }
}


.projects-list {
    @include mob {
        padding-top: 20px;
    }
}

.project-figure {
    position: relative;
    @include transition;
    margin-bottom: 35px;

    @include mob {
        margin-bottom: 0;
    }
   
    article {
        background: $black;
        padding: 5px;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        @include transition;
        height: 55px;

        &:hover{
            background:$orange;         
        }

        h5 {
            font-size: $fsize + 1;
            color: $white;
            text-transform: uppercase;
            margin: 0;
            padding: 10px 0;
            @extend .fbold;
            @include transition;

            a{
                color:$white;
            }

        }

        p {
            font-size: $fsize - 2;
            color: $white;
            line-height: $fsize + 5;
            @include transition;
            opacity: 0;
            display: none;
        }

        .forange {
            @include transition;
            opacity: 0;

            &:hover {
                color: $white;
            }
        }
    }
}

footer {
    background: url(../img/footerbg.jpg)no-repeat 0 0;
    width: 100%;
    background-size: cover;
    min-height: 300px;
    position: relative;
    padding-top: 25px;
    margin-top:25px;

    &:before {
        content: '';
        background: $blue;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.7;
    }

    p {
        font-size: $fsize - 1;
        color: $white;
    }

    .forange {
        &:hover {
            color: $white;
        }
    }

    table {
        margin-top: 25px;

        td {
            padding: 10px;
            color: $white;
            font-size: $fsize - 1;

            .icomoon {
                font-size: $fsize + 10;
            }
        }
    }

    .h4 {
        font-size: $fsize + 1;
        color: $white;
        @extend .fbold;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-bottom: 1px solid $orange;
        margin-bottom: 15px;
        padding-bottom: 5px;

        @include mob {
            padding-top: 20px;
        }
    }

    .footernav {
        li {
            a {
                color: $white;
                padding: 6px 0;
                display: block;
            }
        }
    }

    .header-social {
        padding-top: 10px;

        a {
            padding: 10px 12px 0 0;

            .icomoon {
                font-size: $fsize + 5;
                color: $white;
            }
        }
    }

    .copyrights-div {
        border-top: 1px solid $white;
        padding: 10px 0;

        p {
            color: $white;
        }
    }
}

#movetop {
    background: #fab702;
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    line-height: 42px;
    box-shadow: 0 0 3px #ccc;
    border-radius: 50%;
    display: none;
    z-index: 999;
}

.list-items {
    li {
        padding: 3px 5px;

        &:before {
            content: "\ea5f";
            font-family: 'icomoon' !important;
            color: $orange;
            margin-right: 5px;
        }
    }
}

.subpage-main {
    min-height: 800px;

    .subpage-header {
        background: url(../img/subpage-headerbg.jpg)no-repeat 0 0;
        min-height: 350px;
        padding-top: 150px;

        .h1 {
            font-size: $fsize * 3;
            color: $white;
            @extend .fbold;
        }

        p {
            font-size: $fsize;
            color: $white;
        }
    }
}

.subtitle {
    font-size: $fsize;
    color: lighten($black, 40%);
}

.fulldiv {
    background: lighten($black, 95%);
    padding: 35px 0;
    @include shadow-bot;
    min-height: 200px;
    margin: 35px 0;
}

.list-items {
    padding-left: 0;

    li {
        padding-bottom: 5px;
        font-size: $fsize;
        line-height: 26px;
        text-align: justify;

        &:before {
            content: "\ea33";
            font-size: $fsize + 2;
            color: $orange;
            font-family: 'icomoon' !important;
            padding-right: 10px;
            position: relative;
            top: 2px;
        }



    }
}

.grid-gallery {
    .item {
        padding: 10px;
    }
}

.h5 {
    line-height: 30px;
}

.form-control {
    border-radius: 0;
    min-height: 35px;
}

.form-group {
    ::placeholder {
        font-size: $fsize - 2;
        color: lighten($black, 40%);
    }
}
a.link,
.link {
    font-size: $fsize + 2;
    color: $blue;
    padding: 10px 25px;
    border: 1px solid $blue;
    float: left;
    margin-top: 15px;
    background: none;
    @include transition;

    &:hover {
        background: $blue;
        color: $white;
        border: 1px solid transparent;
    }
}