@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
*,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

p {
  line-height: 25px;
}

.fbold, .btn-orange, .home-slider .carousel-item .carousel-caption h3, .services .servicecol .txt, .orangespan, .project-figure article h5, footer .h4, .subpage-main .subpage-header .h1 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.flight {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.fwhite {
  color: #ffffff;
}

.fblue {
  color: #01308B;
}

.forange {
  color: #FFB000;
}

.btn-orange {
  background: #FFB000;
  padding: 10px 18px;
  border-radius: 25px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-orange:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #000000;
  text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -webkit-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
  font-weight: 400;
}

.fixed-theme {
  background: #01308B;
  padding: 5px 0;
  box-shadow: 0 3px 3px #949494;
  -moz-box-shadow: 0 3px 3px #949494;
  -webkit-box-shadow: 0 3px 3px #949494;
  -ms-box-shadow: 0 3px 3px #949494;
  -o-box-shadow: 0 3px 3px #949494;
}

@media (min-width: 320px) and (max-width: 575px) {
  .fixed-theme {
    padding: 0 0 5px 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.fixed-theme .top-header {
  margin-top: -40px;
}

.fixed-theme .navbar-brand {
  top: 0;
  left: 5px;
}

.fixed-theme .navbar-brand img {
  width: 200px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .fixed-theme .navbar-brand img {
    width: 160px;
  }
}

header .navbar {
  padding: 0;
}

header .navbar .dropdown-menu {
  border-radius: 0;
}

header .navbar .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 20px;
}

header .navbar .dropdown-menu .dropdown-item:hover {
  background: #01308B;
  color: #ffffff;
}

header .navbar-toggler {
  position: relative;
  right: 10px;
  z-index: 99;
  border: none;
}

header .navbar-toggler .icomoon {
  color: #ffffff;
}

header .top-header {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  padding-top: 5px;
}

header .top-header .header-social a:hover .icomoon {
  color: #FFB000;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top-header {
    display: none;
  }
}

header .top-header p {
  color: #ffffff;
}

header .top-header .header-social a {
  font-size: 18px;
  color: #ffffff;
  padding: 0 7px;
}

header .top-header .navbar-nav:before {
  background: none;
}

header .navbar-brand {
  position: relative;
  top: -25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar-brand {
    top: 0;
  }
}

header .navbar-brand img {
  width: 220px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar-brand img {
    width: 170px;
  }
}

header .navbar-nav {
  position: relative;
  padding: 3px 0 3px 15px;
}

header .navbar-nav:before {
  content: '';
  background: #01308B;
  position: absolute;
  left: 0;
  top: 0;
  right: -200%;
  bottom: 0;
  z-index: 0;
}

header .navbar-nav .nav-link {
  color: #ffffff !important;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px 13px !important;
}

header .navbar-nav .nav-link:hover span {
  color: #FFB000 !important;
  border-bottom: 2px solid #FFB000;
}

.home-slider .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .carousel-item {
    height: 400px;
  }
}

.home-slider .carousel-item:before {
  content: '';
  position: absolute;
  left: 0;
  z-index: 0;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, #b45800, #01308B);
  background-image: -o-linear-gradient(-45deg, #b45800, #01308B);
}

.home-slider .carousel-item .carousel-caption {
  bottom: 40%;
  text-align: left;
  width: 45%;
  left: 20%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .carousel-item .carousel-caption {
    width: 90%;
    bottom: 20%;
    left: 5%;
  }
}

.home-slider .carousel-item .carousel-caption:before {
  content: '';
  width: 64px;
  height: 4px;
  background: #01308B;
  position: absolute;
  bottom: 0;
}

.home-slider .carousel-item .carousel-caption:after {
  content: '';
  width: 110px;
  height: 4px;
  background: #FFB000;
  position: absolute;
  bottom: 0;
  left: 70px;
}

.home-slider .carousel-item .carousel-caption h3 {
  font-size: 45px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-slider .carousel-item .carousel-caption h3 {
    font-size: 25px;
  }
}

.home-slider .carousel-item .carousel-caption h3 p {
  font-size: 25px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../img/bg-trans.png) repeat 0 0;
  opacity: 0.7;
}

.about {
  background: #01308B;
  padding: 25px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .about {
    padding: 0;
  }
}

.about .top-about {
  background: #ffffff;
  padding: 20px;
  margin-top: -100px;
  position: relative;
  z-index: 999;
}

@media (min-width: 320px) and (max-width: 575px) {
  .about .top-about {
    margin-top: 0;
    padding: 15px 15px 0 15px;
  }
  .about .top-about article {
    padding-top: 10px;
  }
}

.about .bottom-about {
  margin-top: 25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .about .bottom-about {
    padding-bottom: 20px;
  }
}

.about .bottom-about .h5 {
  padding-bottom: 10px;
}

.about .bottom-about img {
  border-radius: 10px;
  margin-top: 15px;
}

.about .bottom-about p {
  color: #ffffff;
  text-align: justify;
}

.about .bottom-about .btn-orange {
  margin-top: 20px;
  float: left;
}

.services {
  padding: 25px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .services .servicecol {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
}

.services .servicecol .icomoon {
  font-size: 60px;
}

.services .servicecol .txt {
  font-size: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 15px;
  position: relative;
}

.services .servicecol .txt:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #FFB000;
  position: absolute;
  bottom: -10px;
}

.services .servicecol p {
  color: #333333;
  padding-top: 15px;
}

.current-project {
  background: #ffffff;
  margin: 25px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .current-project {
    margin: 0;
  }
}

.current-project .carousel-indicators {
  margin-right: 0;
  margin-left: 0;
  bottom: 15px;
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .current-project .carousel-indicators {
    bottom: 5px;
  }
}

.current-project .carousel-indicators li {
  background: none;
  width: 25%;
  height: 86px;
  text-indent: 0;
  opacity: 1;
  margin: 0;
  border: none;
}

@media (min-width: 320px) and (max-width: 575px) {
  .current-project .carousel-indicators li {
    height: auto;
  }
}

.current-project .carousel-indicators li img {
  width: 100%;
}

.current-project article {
  width: 75%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .current-project article {
    width: 100%;
    padding-bottom: 25px;
  }
  .current-project article .h4 {
    padding-top: 10px;
  }
}

.orangespan {
  background: #FFB000;
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#currentproject {
  position: relative;
}

#currentproject .orangespan {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}

@media (min-width: 320px) and (max-width: 575px) {
  .projects-list {
    padding-top: 20px;
  }
}

.project-figure {
  position: relative;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin-bottom: 35px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .project-figure {
    margin-bottom: 0;
  }
}

.project-figure article {
  background: #000000;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  height: 55px;
}

.project-figure article:hover {
  background: #FFB000;
}

.project-figure article h5 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.project-figure article h5 a {
  color: #ffffff;
}

.project-figure article p {
  font-size: 13px;
  color: #ffffff;
  line-height: 20px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  opacity: 0;
  display: none;
}

.project-figure article .forange {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  opacity: 0;
}

.project-figure article .forange:hover {
  color: #ffffff;
}

footer {
  background: url(../img/footerbg.jpg) no-repeat 0 0;
  width: 100%;
  background-size: cover;
  min-height: 300px;
  position: relative;
  padding-top: 25px;
  margin-top: 25px;
}

footer:before {
  content: '';
  background: #01308B;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}

footer p {
  font-size: 14px;
  color: #ffffff;
}

footer .forange:hover {
  color: #ffffff;
}

footer table {
  margin-top: 25px;
}

footer table td {
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
}

footer table td .icomoon {
  font-size: 25px;
}

footer .h4 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #FFB000;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer .h4 {
    padding-top: 20px;
  }
}

footer .footernav li a {
  color: #ffffff;
  padding: 6px 0;
  display: block;
}

footer .header-social {
  padding-top: 10px;
}

footer .header-social a {
  padding: 10px 12px 0 0;
}

footer .header-social a .icomoon {
  font-size: 20px;
  color: #ffffff;
}

footer .copyrights-div {
  border-top: 1px solid #ffffff;
  padding: 10px 0;
}

footer .copyrights-div p {
  color: #ffffff;
}

#movetop {
  background: #fab702;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  line-height: 42px;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  border-radius: 50%;
  display: none;
  z-index: 999;
}

.list-items li {
  padding: 3px 5px;
}

.list-items li:before {
  content: "\ea5f";
  font-family: 'icomoon' !important;
  color: #FFB000;
  margin-right: 5px;
}

.subpage-main {
  min-height: 800px;
}

.subpage-main .subpage-header {
  background: url(../img/subpage-headerbg.jpg) no-repeat 0 0;
  min-height: 350px;
  padding-top: 150px;
}

.subpage-main .subpage-header .h1 {
  font-size: 45px;
  color: #ffffff;
}

.subpage-main .subpage-header p {
  font-size: 15px;
  color: #ffffff;
}

.subtitle {
  font-size: 15px;
  color: #666666;
}

.fulldiv {
  background: #f2f2f2;
  padding: 35px 0;
  box-shadow: 0 3px 3px #949494;
  -moz-box-shadow: 0 3px 3px #949494;
  -webkit-box-shadow: 0 3px 3px #949494;
  -ms-box-shadow: 0 3px 3px #949494;
  -o-box-shadow: 0 3px 3px #949494;
  min-height: 200px;
  margin: 35px 0;
}

.list-items {
  padding-left: 0;
}

.list-items li {
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 26px;
  text-align: justify;
}

.list-items li:before {
  content: "\ea33";
  font-size: 17px;
  color: #FFB000;
  font-family: 'icomoon' !important;
  padding-right: 10px;
  position: relative;
  top: 2px;
}

.grid-gallery .item {
  padding: 10px;
}

.h5 {
  line-height: 30px;
}

.form-control {
  border-radius: 0;
  min-height: 35px;
}

.form-group ::-webkit-input-placeholder {
  font-size: 13px;
  color: #666666;
}

.form-group :-ms-input-placeholder {
  font-size: 13px;
  color: #666666;
}

.form-group ::-ms-input-placeholder {
  font-size: 13px;
  color: #666666;
}

.form-group ::placeholder {
  font-size: 13px;
  color: #666666;
}

a.link,
.link {
  font-size: 17px;
  color: #01308B;
  padding: 10px 25px;
  border: 1px solid #01308B;
  float: left;
  margin-top: 15px;
  background: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

a.link:hover,
.link:hover {
  background: #01308B;
  color: #ffffff;
  border: 1px solid transparent;
}
/*# sourceMappingURL=style.css.map */